In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import calendar
import datetime
import warnings
warnings.filterwarnings('ignore')

from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.preprocessing import StandardScaler

In [19]:
train=pd.read_csv('train.csv')
clm=['Total_booking']
train_labels=pd.read_csv('train_label.csv',names=clm)
train=pd.concat([train, train_labels], axis = 1)
train['datetime']=train['datetime'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %H:%M'))
train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Total_booking
0,2012-05-02 19:00:00,Summer,0,1,Clear + Few clouds,22.14,25.760,77,16.9979,504
1,2012-09-05 04:00:00,Fall,0,1,Clear + Few clouds,28.70,33.335,79,19.0012,5
2,2011-01-13 09:00:00,Spring,0,1,Clear + Few clouds,5.74,6.060,50,22.0028,139
3,2011-11-18 16:00:00,Winter,0,1,Clear + Few clouds,13.94,16.665,29,8.9981,209
4,2011-09-13 13:00:00,Fall,0,1,Clear + Few clouds,30.34,33.335,51,19.0012,184

In [20]:
train_mod_1=train.copy()
train_mod_1.head(1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,Total_booking
0,2012-05-02 19:00:00,Summer,0,1,Clear + Few clouds,22.14,25.76,77,16.9979,504

In [21]:
scaler = StandardScaler()
std_scalar_features = scaler.fit_transform(train_mod_1.loc[:,['temp','atemp','humidity','windspeed']])
clms=['temp','atemp','humidity','windspeed']
std_scalar_features=pd.DataFrame(std_scalar_features)
std_scalar_features.columns = clms
std_scalar_features.head()

       temp     atemp  humidity  windspeed
0  0.242796  0.247564  0.799586   0.507215
1  1.082418  1.138676  0.903761   0.751823
2 -1.856257 -2.069914 -0.606776   1.118325
3 -0.806730 -0.822358 -1.700613  -0.469580
4  1.292323  1.138676 -0.554688   0.751823

In [22]:
train_mod_1=train_mod_1.loc[:,['season','holiday','workingday','weather']]
train_mod_1.head()

   season  holiday  workingday              weather
0  Summer        0           1   Clear + Few clouds
1    Fall        0           1   Clear + Few clouds
2  Spring        0           1   Clear + Few clouds
3  Winter        0           1   Clear + Few clouds
4    Fall        0           1   Clear + Few clouds

In [23]:
train_mod_1=pd.concat([train_mod_1,std_scalar_features],axis=1)
train_mod_1.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,Summer,0,1,Clear + Few clouds,0.242796,0.247564,0.799586,0.507215
1,Fall,0,1,Clear + Few clouds,1.082418,1.138676,0.903761,0.751823
2,Spring,0,1,Clear + Few clouds,-1.856257,-2.069914,-0.606776,1.118325
3,Winter,0,1,Clear + Few clouds,-0.806730,-0.822358,-1.700613,-0.469580
4,Fall,0,1,Clear + Few clouds,1.292323,1.138676,-0.554688,0.751823

In [24]:
train_mod_1 = train_mod_1.drop(['weather'] , axis = 1)
train_mod_1.head()

   season  holiday  workingday      temp     atemp  humidity  windspeed
0  Summer        0           1  0.242796  0.247564  0.799586   0.507215
1    Fall        0           1  1.082418  1.138676  0.903761   0.751823
2  Spring        0           1 -1.856257 -2.069914 -0.606776   1.118325
3  Winter        0           1 -0.806730 -0.822358 -1.700613  -0.469580
4    Fall        0           1  1.292323  1.138676 -0.554688   0.751823

In [25]:
train_mod_2=pd.get_dummies(train_mod_1)
train_mod_2.head(2)

,holiday,workingday,temp,atemp,humidity,windspeed,season_Fall,season_Spring,season_Summer,season_Winter
0,0,1,0.242796,0.247564,0.799586,0.507215,0,0,1,0
1,0,1,1.082418,1.138676,0.903761,0.751823,1,0,0,0

In [29]:
x=train_mod_2
y=train['Total_booking']
x.head(1),y.head(1)

(   holiday  workingday      temp     atemp  humidity  windspeed  season_Fall  \
 0        0           1  0.242796  0.247564  0.799586   0.507215            0

    season_Spring  season_Summer  season_Winter
 0              0              1              0  , 0    504
 Name: Total_booking, dtype: int64)

In [30]:
linReg = LinearRegression()
kfold = model_selection.KFold(n_splits=10, random_state=7)
cv_results = model_selection.cross_val_score(linReg, x, y, cv=kfold, scoring='r2')
print(cv_results.mean())

0.2673970891343673

In [31]:
df = train_mod_2.copy()
df.head(1)

,holiday,workingday,temp,atemp,humidity,windspeed,season_Fall,season_Spring,season_Summer,season_Winter
0,0,1,0.242796,0.247564,0.799586,0.507215,0,0,1,0

In [32]:
print(2)

2